body{
    background-color:#F5E5DE;
    padding-top: 7%;
}
body .boxProfile{
    float: left;
    margin-left: 23%;
    left: 100px;
    width: 801px;
    height: 480px;

    background: #FFFFFF;
    border-radius: 10px;
}
.boxProfile .text{
    float: left;
    margin-left: 50px;
    margin-top: 6%;

    font-size: 24px;
}
.boxProfile .image{
    float: left;
    clear: both;
    margin-left: 50px;
    margin-top: 6%;
    margin-bottom: 6%;

    width: 200px;
    height: 200px;
}
.boxProfile .info{
    float: left;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 12%;
}
.boxProfile .info div{
    float:left;
    font-size: 14px;
}
.boxProfile .info .name{
    width: 100px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}
.boxProfile .info .id{
    clear: both;
    width: 100px;
    text-align: center;
    margin-bottom: 10%;
}
.boxProfile .info .pw{
    clear: both;
    width: 100px;
    text-align: center;
    margin-bottom: 10%;
}
.boxProfile .info .tel{
    clear: both;
    width: 100px;
    text-align: center;
}
.boxProfile .info .name2{
    width: 200px;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 10%;
    
}
.boxProfile .info .id2{
    width: 200px;
    text-align: left;
    margin-bottom: 10%;
}
.boxProfile .info .pw2{
    width: 200px;
    text-align: left;
    margin-bottom: 10%;
}
.boxProfile .info .tel2{
    width: 200px;
    text-align: left;
}
.updateButton{
    float: left;
    clear: both;
    margin-left: 50px;
    width: 127px;
    height: 42px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: #F7E0DC;
    color: #BD9690;
    font-size: 14px;
}
.updateButton:hover{
    background-color: #BD9690;
    color: #F7E0DC;
}
.deleteButton{
    float: left;
    width: 127px;
    height: 42px;
    margin-left: 450px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: #F7E0DC;
    color: #BD9690;
    font-size: 14px;
}
.deleteButton:hover{
    background-color: #BD9690;
    color: #F7E0DC;
}
.backButton{
    float: left;
    clear: both;
    margin-top: 4%;
    margin-left: 3%;
    width: 100px;
    height: 28px;
    font-weight: bold;
    font-size: 18px;
    color: #BD9690;

    background-repeat: no-repeat;
}