.container{
    height: 1000px;
}
.container .contentBox{
    float: left;
    width: 1300px;

    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.container .contentBox .contentImg{
    float: left;

    width: 400px;
    height: 370px;

}
.container .contentBox .content{
    float: left;
    margin-left: 10%;
    
}
.container .contentBox .contentTitle{
    font-size: 19px;
    font-weight: bold;
}
.container .contentBox .contents{
    font-size: 15px;
    margin-top: 20%;
}
.container .contentBox .contentButton{
    float: left;
    margin-top: 75%;
    width: 127px;
    height: 42px;
    border: 0;
    outline: 0;
    font-size: 14px;
    background: #2f3640;
    color: #ffffff;
}
.container .contentBox .contentButton:hover{
    background: #ffffff;
    color: #2f3640;
    border: 1px solid #2f3640;
}
.container .contentBox .contentImg2{
    float: left;
    width: 400px;
    height: 500px;

}
.container .contentBox .contents2{
    font-size: 15px;
    margin-top: 10%;
}
.container .contentBox .contentButton2{
    float: left;
    margin-top: 30%;
    width: 127px;
    height: 42px;
    border: 0;
    outline: 0;
    font-size: 14px;
    background: #2f3640;
    color: #ffffff;
}
.container .contentBox .contentButton2:hover{
    background: #ffffff;
    color: #2f3640;
    border: 1px solid #2f3640;
}
.container .contentBox .contentImg3{
    float: left;
    width: 400px;
    height: 290px;

}
.container .contentBox .contents3{
    font-size: 15px;
    margin-top: 10%;
}
.container .contentBox .contentButton3{
    float: left;
    margin-top: 13%;
    width: 127px;
    height: 42px;
    border: 0;
    outline: 0;
    font-size: 14px;
    background: #2f3640;
    color: #ffffff;
}
.container .contentBox .contentButton3:hover{
    background: #ffffff;
    color: #2f3640;
    border: 1px solid #2f3640;
}
.container .contentBox .contentImg4{
    float: left;
    width: 400px;
    height: 500px;

}
.container .contentBox .contents4{
    font-size: 15px;
    margin-top: 10%;
}
.container .contentBox .contentButton4{
    float: left;
    margin-top: 73%;
    width: 127px;
    height: 42px;
    border: 0;
    outline: 0;
    font-size: 14px;
    background: #2f3640;
    color: #ffffff;
}
.container .contentBox .contentButton4:hover{
    background: #ffffff;
    color: #2f3640;
    border: 1px solid #2f3640;
}
.container .contentBox .contentImg5{
    float: left;
    width: 400px;
    height: 350px;

}
.container .contentBox .contents5{
    font-size: 15px;
    margin-top: 10%;
}
.container .contentBox .contentButton5{
    float: left;
    margin-top: 40%;
    width: 127px;
    height: 42px;
    border: 0;
    outline: 0;
    font-size: 14px;
    background: #2f3640;
    color: #ffffff;
}
.container .contentBox .contentButton5:hover{
    background: #ffffff;
    color: #2f3640;
    border: 1px solid #2f3640;
}