body{
  background-color:#F5E5DE;

  padding-left: 20%;
  padding-top: 40px;
  margin-top: 0;
}
.image{
  margin:0px 10px 10px 0px;
  height: 180px;
  width:180px;
  /*border :1px gray;*/
}
.profileBox{
  width: 900px;
  height: 640px;

  background: #FFFFFF;
  border-radius: 10px;
}
.profileBox .title{
  float: left;
  margin-left: 60px;
  margin-top: 10px;

  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.profileBox .selectImage{
  float: left;
  clear: both;
  margin-left: 60px;
  margin-top: 5%;
}
.profileBox .dateBox{
  float: left;
  clear: both;
  margin-left: 35%;
  margin-top: 2%;
}
.profileBox .dateBox div{
  float:left;
  font-size: 14px;
}
.profileBox .dateBox .name{
  width: 100px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10%;
}
.profileBox .dateBox .id{
  clear: both;
  width: 100px;
  text-align: center;
  margin-bottom: 10%;
}
.profileBox .dateBox .pw{
  clear: both;
  width: 100px;
  text-align: center;
  margin-bottom: 10%;
}
.profileBox .dateBox .tel{
  clear: both;
  width: 100px;
  text-align: center;
}
.profileBox .dateBox .name2{
  width: 200px;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 10%;
  
}
.profileBox .dateBox .id2{
  width: 200px;
  text-align: left;
  margin-bottom: 10%;
}
.profileBox .dateBox .pw2{
  width: 200px;
  text-align: left;
  margin-bottom: 10%;
}
.profileBox .dateBox .tel2{
  width: 200px;
  text-align: left;
}
.okButton{
  float: left;
  width: 127px;
  height: 42px;
  margin-left: 42%;
  margin-top: 4%;

  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #F7E0DC;

  font-size: 14px;
  color: #BD9690;
}
.okButton:hover{
  background-color: #BD9690;
  color: #F7E0DC;
}
