.container{
	width:1000px;
	margin: 120px auto;
	/*border: 1px solid gray;*/
}
.wrapper:after,.bottom:after,.main:after{ 
	content:""; clear:both; display:block;
}
.container>.title{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 30px;
}
.container>.main{
	width:100%;
	background-color: #f2f2f2;
	border-radius: 30px;
	padding:50px 0 100px 0;
}
.wrap{
	width:70%;
	margin: 0 auto;
	/*border: 1px solid gray;*/
}
.wrap .titlediv,.wrap .passworddiv{
	text-align: center;
	width:120px;
	height: 40px;
	line-height: 40px;
	font-size: 1.3rem;
	margin-top: 50px;
	border-radius: 20px;
	background-color: #283c43;
	color: #ffffff;
}
.wrap .title,.wrap .password{
	text-align: center;
	border-radius: 20px;
	background-color: #ffffff;
	width:100%;
	height: 50px;
	margin-top: 10px;
}
.title input,.password input{
	width:100%;
	height: 100%;
	border:1px solid #ffffff;
	border-radius: 20px;
}
.create{
	margin-top:20px;
	margin-bottom: 20px;
	width:120px;
	height: 40px;
}
.create input{
	border-radius: 35px;
	background-color: #f2bc36;
	width:100%;
	height: 100%;
	border: 1px solid #f2bc36;
}