.warraper{
    width: 900px; 
    margin:80px auto;
}
.container{
    background-color: #ffffff;
    /*border:1px solid gray;*/
    padding-top:1px;
    padding-bottom: 1px;
    margin:0 auto;
    width: 700px;
}
.header{
    margin-top:30px;
    margin-bottom: 30px;
}
.offButton{
    position: absolute;
}
.container:after.footer:after,.header:after{
    content:""; clear:both; display:block;
}
.profile,.comment-profile{
    float:left;
    margin-right: 5px;
    border-radius: 70%;
    overflow: hidden;
}
.profileimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.user-name{
    margin-bottom: 7px;
    font-size: 38px;
}

.header,.main,.footer{
    margin-left: 40px;
    margin-right: 40px;
}
.update{
    float:right;
}
.title{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
    overflow:hidden;
    height:auto;
}
.description{
    /*border:1px solid gray;*/
    padding-top: 20px;
    padding-bottom: 20px;
    overflow:hidden;
    height:auto;
}
.comment-title{
    color: #4D4D4D;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.profile{
    width: 50px;
    height: 50px; 
}
.comment-profile{
    width: 40px;
    height: 40px; 
}
.comment{
    margin-top:15px;
}
.comment-name{
    font-size:30px;
}
.comment-description{
    margin-top:10px;
}
.date,.comment-date{
    color:#666666;
}
.comment-update{
    float:right;
}
.post-comment{
    margin-top:10px;
    margin-bottom:30px;
}
.footer{
    margin-bottom: 15px;
}
.submit{
    background-color:transparent;  
    border:0px transparent solid;
}
#submitButton{
    float:right;
}
textarea{
    resize: none;
    height: 100px;
    width: 615px;
}
a{
    padding-left: 17px;
    font-size: 14px;
    color:black;
    text-decoration: none;
}