html{
    background-color:#F5E5DE; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'NanumBarunGothic';
}