
body{
    margin: 0;
    /* height: 1000px; */
}
#breadImg{
    width: 150px;
    height: 125px;
}

form{
    padding-top: 80px;
    text-align: center;
}
select{
    width: 300px;
    height: 35px;
    padding: .5em .4em .5em 1em;
    border: 1px #283b42;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 15px;
}
#selectKinds{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 300px; 
    padding: .5em .4em .5em 1em;
    border: 1px solid #283b42;
    border-radius: 0px; 
}
#breadText {
    border-radius: 0px;
    border: 1px solid #283b42;
    width: 300px;
    height: 35px;
    padding: .5em .4em .5em 1em;
    font-size: 15px;
}
#breadTextArea{
    border-radius: 0px;
    border: 1px solid #283b42;
    resize: none;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}
input#submitButton{
    border-radius: 0px;
    background: #283b42;
    color: #ffffff;
    width: 328px;
    height: 65px;
    border: 0;

    margin-bottom: 10em;
}
input#submitButton:hover{
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #283b42;
    color: #283b42;

}
.breadlist{
    left:50%;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 3em;
} 
.over{
    /* height: 1000px; */
    width: 99.9%;
    height: 99.8%;
    /* background-color: #000000;
    opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);

    position:absolute;
    border:1px solid gray;
}
.post{
    width: 800px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
}
.post{
    float:left;
    font-size: 18px;
    color: black;
    line-height: 28px;
    /* text-align: center; */
}
.totalNum{
    font-size: 25px;
    color: gray;
}
.top{
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 40px;
}
.top-title{
    float:left;
    margin-top: 10px;
    margin-left: 30px;

    font-size: 17px;
}
.top-views{
    float:right;
    margin-top: 10px;
    margin-right: 30px;

    font-size: 17px;
}
.content{
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;

    color: black;
}
.contentBox{
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    height:  380px;
}
.title{
    float:left;
    font-size: 17px;
}
.views{
     float:right;
     font-size: 17px;
}
.number{
    float: left;
    margin-left: 15em;
    width: 280px;
    color:black;
    /* text-align: center; */
}
.number .numberPrev{
    display:inline-block;
    width: 60px;
    text-align: center;
}
.number .numberPaging{
    display:inline-block;
    width: 120px;
    text-align: center;
}
.number .numberNext{
    display:inline-block;
    width: 60px;
    text-align: center;
}   
.list{
    background-color: aliceblue;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;
    color: black;
}
.list .content{
    /* border-bottom: 1px solid black; */
}