
body{
    width:1400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
#breadImg{
    width: 150px;
    height: 125px;
}

form{
    padding-top: 80px;
    text-align: center;
}
select{
    width: 300px;
    height: 35px;
    padding: .5em .4em .5em 1em;
    border: 1px #000000;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 15px;
}
#selectKinds{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 300px; 
    padding: .5em .4em .5em 1em;
    border: 1px solid #000000;
    border-radius: 0px; 
}
#breadText {
    border-radius: 0px;
    border: 1px solid #000000;
    width: 300px;
    height: 35px;
    padding: .5em .4em .5em 1em;
    font-size: 15px;
}
#breadTextArea{
    border-radius: 0px;
    border: 1px solid #000000;
    resize: none;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}
input#submitButton{
    border-radius: 0px;
    background: #000000;
    color: #ffffff;
    width: 333px;
    height: 65px;
    border: 0;
}
input#submitButton:hover{
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;

}
