html{
    background: url(../images/cookBackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'NanumBarunGothic';
}

#breadImg{
    width: 150px;
    height: 125px;
}

form{
    padding-top: 80px;
    text-align: center;
}

div{
    border: 2px red;
}
select{
    background:#f7dfdc;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    text-align: center;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
option:hover { 
    background: red;
}


select, input, input::placeholder, textarea, textarea::placeholder{
    /* color: #2b2322; */
    color: #c48496;
}
#breadText {
    background:#f7dfdc;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 300px;
    /* text-align: center; */
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

#breadTextArea{
    background: #f7dfdc;
    resize: none;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.selectKinds{
    padding-top: 30px;
}

input#submitButton{
    background: url(../images/bakingButton.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 65px;
    border: 0;
}
input#submitButton:hover{
    background: url(../images/bakingButton2.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 65px;
    border: 0;
}
