.wrapper{
    width:1400px;
    /*border:1px solid gray;*/
    margin:0 auto;
    margin-bottom: 10em;
}
.mid:after,.container:after{
    content:""; clear:both; display:block;
}
.wrapper>.logo{
    width:300px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    /* margin:0 auto; */
}
.logo>a>img{
    width:100%;
}

/*슬라이드*/
.explain {
  position: relative;
  width:1100px;
  height: 340px;
  margin:30px auto 0 auto;
  opacity: 2;  
}
.mySlides>img{
  width:100%;
  height: 100%;
  transform:translateX(-50%);
  margin-left:50%;
  
}
.mySlides {
  display: none;
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 5%;
}
.cursor {
  cursor: pointer;
}
/*.demo {
  opacity: 0.6;
}
.demo:hover {
  opacity: 1;
}*/
/*슬라이드*/
.mid,.container{
    width:1100px;
    /*border:1px solid gray;*/
    margin:0 auto;
    text-align: center;
    margin-top: 1em;
}
.container>.item{
    /*float :left;*/
    /* border: 1px solid gray; */
    display: inline-block;
    text-align: center;
    width:245px;
    height: 230px;
    margin:30px 40px 30px 40px;
}
.item>img{
    width:100%;
    height: 100%;
}
.cookBread{
    float:right;
    margin-right: 0;
}
.cookBread div{
    background: url( "../images/oven.png" ) no-repeat;
    background-size : cover;
    width: 100px;
    height: 50px;
    overflow: hidden;

    text-align: center;
    padding-top: 40px;
}
.cookBread div:hover{
  background: url( "../images/material.png" ) no-repeat;
  background-size : cover;

}
/* .cookBread button{
  background: url( "../images/oven.png" ) no-repeat;
  background-size : cover;
  border: none;
  width: 175px;
  height: 160px;
  cursor: pointer;  
} */
.over{
    /* height: 1000px; */
    width: 100%;
    height: 100%;
    /* background-color: #000000;
    opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    /*border:1px solid gray;*/
    z-index:1;
}
.post{
    width: 800px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
}
.post{
    float:left;
    font-size: 18px;
    color: black;
    line-height: 28px;

}
a{
    color:black;
    text-decoration: none;
}
/* 마우스 오버 */
/* .mid .cookBread:hover{
  font-size: 20px;
}
.mid .cookBread button:nth-child(1){
	display: none; 
}
.mid .cookBread:hover button:nth-child(1){
	display: inline;
  text-align: center;
	font-size: 12px;
}
.mid .cookBread:hover button:nth-child(2){
	display: none;
} */


/* 빵굽기 폼 */
#breadImg{
  width: 150px;
  height: 125px;
}
form{
  padding-top: 80px;
  text-align: center;
}
select{
  width: 300px;
  height: 35px;
  padding: .5em .4em .5em 1em;
  border: 1px #283b42;
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 15px;
}
#selectKinds{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 300px; 
  padding: .5em .4em .5em 1em;
  border: 1px solid #283b42;
  border-radius: 0px; 
}
#breadText {
  border-radius: 0px;
  border: 1px solid #283b42;
  width: 300px;
  height: 35px;
  padding: .5em .4em .5em 1em;
  font-size: 15px;
}
#breadTextArea{
  border-radius: 0px;
  border: 1px solid #283b42;
  resize: none;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}
input#submitButton{
  border-radius: 0px;
  background: #283b42;
  color: #ffffff;
  width: 328px;
  height: 65px;
  border: 0;

  margin-bottom: 1em;
}
input#submitButton:hover{
  border-radius: 0px;
  background: #ffffff;
  border: 1px solid #283b42;
  color: #283b42;

}