html{
   background: url(../images/firstBackground.png) no-repeat center center fixed; 
   background-size: 300px 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'NanumBarunGothic';
}
body{
	width:1400px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}
#containerlogo{
   margin-top: 140px;
   font-size:50px;
}
#title{
   margin-bottom: 50px;
   font-size:40px;
}

#description{
   /*/position: absolute;*/
   display: inline;
   margin-top: 100px;
   font-size: 25px;
   color: #423A38;
   /*border: 1px solid gray;*/

}
.container{
}
.container:after { content:""; clear:both; display:block; }
.containerleft{
	/*position: absolute;*/
	left:100px;
	float:left;
}
.containerright{
	float:right;
	width: 800px;
	/*right:100px;*/
}
/*.containerimg{
	position: relative;
	left:160px;
	top:100px;
}*/
.backbaking01{
	/*height: 604px;
	width: 950px;*/
	margin-left: 140px;
	margin-top:100px;
	height: 90%;
	width: 90%;
}