body{
	margin-left: auto;
	margin-right: auto;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid #666666;
  /*background-color: #6EAF08;*/
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #666666;
}
img{
	/*position: absolute; top:0; left: 0;*/
	width: 100%;
	height: 100%;
}
.container{
	position:relative;
  margin-top:80px;
  background: url(../images/slide1.png) no-repeat center center; 
	/*background-color: #f4e0e3;*/
	/*border: 1px solid gray;*/
	height: 620px;
	background-size: contain;
}
.container footer{
  position:absolute; 
  /*margin-bottom: 5px;*/
  transform:translateX(-50%);
  left:50%;
  bottom:0;
}
.container-bottom{
  border: 1px solid #F4EDF4;
  background-color: #F4EDF4;
  text-align: center;
}
.content,.comment{
 
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.content{
   margin-top: 50px;
   height: 100px;

}
.comment{
  margin-top: 20px;
  margin-bottom: 50px;
  height: 50px;
}

h1{
  margin-top:50px;
}

/*이벤트 배너*/
.event {
  position: relative;
}
.event-img{
  width:500px;
  transform:translateX(-50%);
  margin-left:50%;
  
}

.event-text{
  text-align: center;
}
.mySlides {
  display: none;
  height: 370px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 5%;
}
.cursor {
  cursor: pointer;
}
.demo {
  opacity: 0.6;
}
.demo:hover {
  opacity: 1;
}


/*이벤트 배너*/