body{
	margin-left: auto;
	margin-right: auto;
}
.bottom:after,.love-test:after,.animal-test:after,.tests:after{ 
  content:""; clear:both; display:block;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid #666666;
  /*background-color: #6EAF08;*/
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #666666;
}
.mySlides img{
	/*position: absolute; top:0; left: 0;*/
	width: 100%;
	height: 100%;
}
.container{
	position:relative;
  margin-top:80px;
  background: url(../images/slide1.png) no-repeat center center; 
	/*background-color: #f4e0e3;*/
	/*border: 1px solid gray;*/
	height: 620px;
	background-size: contain;
}
.container footer{
  position:absolute; 
  margin-bottom: 5px;
  transform:translateX(-50%);
  left:50%;
  bottom:3%;
}
.container-bottom{
  border: 1px solid #F4EDF4;
  background-color: #F4EDF4;
  text-align: center;
}
.content,.comment{
 
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.content{
   margin-top: 50px;
   height: 100px;

}
.comment{
  margin-top: 20px;
  margin-bottom: 50px;
  height: 50px;
}

h1{
  margin-top:50px;
}
/*다양한 심리검사*/
.trialTest{
  /*border:1px solid gray;*/
  margin:0 auto 50px auto;
  width:1300px;
}
.trialTest .title{
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
}
.trialTest .explain{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
.tests{
  /*border:1px solid gray;*/
  width:900px;
  margin:100px auto 0 auto;
}
.tests .left{
  float:left;
}
.left .animal-test{
  background-color: #f7f7f7;
  width:500px;
  height: 400px;
}

.animal-test .left{
  margin-top:130px;
  margin-left: 30px;
  float:left;
}
.animal-test-title{
  font-size: 1.9rem;
}
.animal-test-explain{
  margin-top: 10px;
  font-size: 1rem;
}
.tests .right{

  float:right;
  width:400px;
}
.animal-test>.right>img{
  width: 100%;
}
.animal-test>.right{
  margin-top:50px;
  float:right;
  width:300px;
}
.right .love-test{
  height: 200px;
  background-color: #396278;
  color: #ffffff;
}
.love-test-title{
  padding-top: 20px;
  text-align: center;
  font-size: 1.7rem;
}
.love-test-explain{
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
}
.love-test .img{
  float:left;
  height:50px;
  margin-left: 20px;
}
.love-test .img img{
  height: 100%;
}
.right .speech{
  position:relative; 
  height: 200px;
  background-color: #30b1e3;
  color: #ffffff;
}
.speech-title{
  padding-top:10px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.7rem;
}
.speech .bottom{
  position:absolute; 
  bottom:0; 
}
.speech .bottom .left{
  height:120px;
  float:left;
}
.speech .bottom .left img{
  height: 100%;
}
.speech .bottom .right{
  position:absolute; 
  text-align: right;
  font-size: 1rem;
  width:200px;
  left: 190px;
  top:30px;
}
/*다양한 심리검사*/

/*이벤트 배너*/
.event {
  position: relative;
}
.event-img{
  width:500px;
  transform:translateX(-50%);
  margin-left:50%;
  
}

.event-text{
  text-align: center;
}
.mySlides {
  display: none;
  height: 370px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 5%;
}
.cursor {
  cursor: pointer;
}
.demo {
  opacity: 0.6;
}
.demo:hover {
  opacity: 1;
}


/*이벤트 배너*/