.footer{
	margin-top: 10px;
}
.footer footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #54535A;
  text-align: center;
  
}
.footer-nav{
	color:#ffffff;
	text-decoration: none;
}