header{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background-color: #ffffff;
    padding:10px 100px 20px;
    /*margin :0 100px;*/
}
.nav-log{
    float:right;
}
.nav{
    /*margin-top: 40px;*/
    text-align: center;
    top:40px;
}
ul,li{
    list-style: none;
}

ul{
    margin:0 0 0 0;
    width: 900px;
    padding-left: 0;
    text-align: center;
    margin:0 auto;
}
li{
    display: inline-block;
}
li:hover{
    color: red;
}
.logo{
    position: absolute;
    /*margin-left: 100px;*/
}
ul:after,.nav-log:after,.nav:after { content:""; clear:both; display:block; }
#log,#name{
}
.nav-log a,.nav a{
     font-family : 'Gothic A1', sans-serif;
     font-size:20px;
     margin-right: 15px;
     text-decoration: none;
     color: #000000;

}
a{
    text-decoration: none;
    color: #000000;
}
