header{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background-color: #ffffff;
    padding-top:30px;
    padding-bottom:30px;

    /*padding:30px 100px 20px;*/
    /*margin :0 100px;*/
}
.nav-log{
    position: absolute;
    left: 70%;
}
.nav{
    /*margin-top: 40px;*/
    width:1100px;
    margin: 0 auto;
    text-align: center;
    top:40px;
}
ul,li{
    list-style: none;
}

ul{
    margin:0 0 0 0;
    width:100%;
    padding-left: 0;
    text-align: center;
    margin:0 auto;
}
li{
    display: inline-block;
}
li:hover{
    color: red;
}
.logo{
    position: absolute;
    /*margin-left: 100px;*/
}
ul:after,.nav-log:after,.nav:after { content:""; clear:both; display:block; }

.nav-log a,.nav a{
     font-family : 'Gothic A1', sans-serif;
     font-size:20px;
     margin-left: 7px;
     margin-right: 7px;
     text-decoration: none;
     color: #000000;

}
a{
    text-decoration: none;
    color: #000000;
}
.menu{
    /*width:700px;*/
    margin :0 auto;
    float:right;
}
.hidden
{
    display: none;
}
.viewMessage
{
    background-color: #ffffff; 
    border: thin solid #000000; 
    padding: 2px; 
    margin: 0px; 
    width: 200px;
    height: 200px;
    left:-15px;
    position:absolute;/*절대위치*/
    z-index: 1;
}



html, body {
    height: 100%;
    margin: 0;
    font-family: Lato;
    /* color: white; */
}
#page1 { background: white; }

.wrapper {
    display: table;
    height: 100%; width: 100%;
}

.stage {
    display: table-cell;
    vertical-align: middle;
}

.tabled, .middled {
    text-align: center;
    margin: 0 auto;
}

.thin { font-weight: 300; }
.thick { font-weight: 900; }

a {
    text-transform: uppercase;
    font-size: 36px;
    /* color: white; */
    text-decoration: none;
    position: relative;
    display: block;
}

p {
    font-weight: 100;
    font-size: 80%;
    margin: 1px;
}
[class^="link-"] {
    display: inline-block;
    margin: 2em
} 
.link-6{
    margin-top: 0;
} 
.menu-items{
    margin-top: 1em;
}
.link-6 a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);  
}

.link-6 a {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
@-webkit-keyframes heartbeat {
    0% { -webkit-transform: scale(1); }
    10% { -webkit-transform: scale(1.1); }
    20% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1.1); }
    40% { -webkit-transform: scale(1); }
}

@-webkit-keyframes heartbeat-x {
    0% { -webkit-transform: scaleX(0); }
    10% { -webkit-transform: scaleX(1); }
    20% { -webkit-transform: scaleX(0); }
    30% { -webkit-transform: scaleX(1); }
    40% { -webkit-transform: scaleX(0); }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    10% { transform: scale(1.1); }
    20% { transform: scale(1); }
    30% { transform: scale(1.1); }
    40% { transform: scale(1); }
}

@keyframes heartbeat-x {
    0% { transform: scaleX(0); }
    10% { transform: scaleX(1); }
    20% { transform: scaleX(0); }
    30% { transform: scaleX(1); }
    40% { transform: scaleX(0); }
}