.wraaper{
    margin-top: 100px;
    /*border: 1px solid gray;*/
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.content:after,.top:after,.header:after{
    content:""; clear:both; display:block;
}
.post{
    float:left;
}
.selects{
    float:right;
}
.top{
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-title{
    float:left;
}
.top-views{
    float:right;
}
.content{
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title{
    float:left;
}
.views{
     float:right;
}