body{
    margin:0px;
    background-color:#F5E5DE;
}

#logo{
    cursor: pointer;
}
main{
    /*border:1px solid gray;*/
    text-align: center;
    /*float:left;*/
    /*width:100%;*/
    /*height:70%;*/
    
}

#storeimg{
    /*border:1px solid gray;*/
    width:1200px;
    height:600px;
    position:relative;
    /*position:fixed;*/
    bottom:10px;
    right: 10px;
    margin-bottom: 0px;
}
.breadimg{
    width:220px;
}
.container{
    width:1500px;
    height:610px;
    /*border: 1px solid gray;*/
    position:absolute;
    /*background-color: gray;*/
    /*margin:0px 0px 0px 40px;*/
    bottom:10px;
    right: 10px;
}

.item{
    position:relative;
    width: 300px;
}
.item:nth-child(n){
    margin:5px 30px 0px 15px;
}
.location{
    position:absolute;
    top:40px;
    right: 10px;
}
.location a{
     font-family : 'Gothic A1', sans-serif;
     font-size:24px;
     margin-right: 15px;
     text-decoration: none;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
.row1{
    margin-top:10px;
}

.row2{
    margin-top:20px;
}
.row3{
    margin-top:15px;
}