html,body{
    height: 100%;
    width: 100%;
    margin:0;
}
.width500px{
    width: 600px; 
    display: inline-block;
}
.center{
    text-align: center;
    background-image: url("../images/store/load_3.png");
    background-repeat : no-repeat;
    background-size : cover;
    height: 100%;
}
#menuTable tr{
    text-align: center;
}
#startBtn{
    border: none; 
    color: white; 
    background-color: #283B42; 
    width: 600px; 
    height: 40px; 
    padding: 5px; 
    /* font-weight: bold;  */
    font-size: 20pt; 
    cursor: pointer; 
    margin-bottom: 0.5em; 
    margin-top: 1em;
}
#startBtn:hover{
    color: #283B42; 
    background-color: white; 
    border: solid #283B42 1px; 
    height: 40px;
}
#cardTable{
    border-collapse: collapse;     
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: white;
}
#cardTable td{
    border: 1px solid #283B42; 
    width: 100px; 
    height: 121px; 
    text-align: center; 
    cursor: pointer;
}
#cardTable td img{
    /* max-width: 70px; */
    max-width: 95px;
}
#cardTable td span{
    font-size: 25pt; 
    font-weight: bold; 
    color: #283B42; 
    display: none;
}
#countDown{
    background-color: #283B42; 
    color: white; 
    font-size: 20pt; 
    height: 40px;
    width: 600px;
}
#info{
    width: 600px; 
    height: 250px; 
    background-color: #DDDDDD; 
    color: white; 
    padding-top: 250px;
}
#backBtn{
    border: none; 
    color: white; 
    background-color: #283B42; 
    width: 600px; 
    height: 40px; 
    padding: 5px; 
    /* font-weight: bold;  */
    font-size: 20pt; 
    cursor: pointer; 
    margin-bottom: 0.5em; 
    margin-top: 1em;

    font-size: 17px;
} 
#backBtn:hover{
    color: #283B42; 
    background-color: white; 
    border: solid #283B42 1px; 
    height: 40px;
}