.center{
    text-align: center;
    position: absolute;
    background-image: url("../images/store/loadBackGround.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: auto;
    min-height: 2370px; 
    height: 2370px;
    margin-top: 5em;
}
.image:after{
    content:"";clear:both;display: block;
}
.image{
    /* border:1px solid gray; */
    /* height: 400px; */
    padding-top:100px;
    width: 90%;
    margin:0 auto;
}
.image1{
    float: right;
}
.image2{
    float: left;

}
.image3{
    float: right;
}

.game1,.game2,.game3{
    text-align: center;
    background-repeat : no-repeat;
    background-size : cover;
    height: 100%;
    /* position: absolute; top:0; left: 0;
    width: 100%;
    height: 100%; */
    margin-left: auto; margin-right: auto;
}
.game1{
    background-image: url("../images/store/load_1.png");
    /* border: solid gray 1px; */
    vertical-align: middle;

}
.game2{
    background-image: url("../images/store/load_2.png");
    
}
.game3{
    background-image: url("../images/store/load_3.png");
}

.cookbread{
    background: url( "../images/logo.PNG" ) no-repeat;
    background-size : cover;
    border: none;
    
    top: 50px;
    right: 500px;
    width: 300px;
    height: 80px;
}
.title{
    padding: 0px;
}
.subtext{
    padding: 0px;
}