.container{
	margin:0 auto;
	font-family: 'NanumBarunGothic';
}
.container .box{
	margin-top:2%;
	height:80px;
	width:100%;
    background-color:#ddc0f6;
}

.container .box .percent{
	float:left;
	margin-top:2%;
	margin-left:30%;
	color:#AF19F7;
	font-weight:bold;
	font-size:20px;
}
.container .one .view_1{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .one .Qone{
	margin-top:7%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}

.container .next{
	float: left;
    margin-top: 5%;
    margin-left: 38%;
    width: 300px;
    height: 50px;
    border: 0;
    outline: 0;
	border-radius:50px;
    font-size: 14px;
    background: #AF19F7;
    color: #ffffff;
}

