.container{
	margin:0 auto;
	font-family: 'NanumBarunGothic';
}
.container .box{
	margin-top:2%;
	height:130px;
	width:100%;
    background-color:#ddc0f6;
}

.container .box .percent{
	float:left;
	margin-top:80px;
	margin-left:30%;
	color:#AF19F7;
	font-weight:bold;
	font-size:20px;
}

.container .box .line{
    float:left;
    margin-left:33%;
    margin-top:-15px;
    width:40%;
    height:5px;
    background-color: white;
}
.container .one .view_1{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .one .Qone{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}

.container .two .Qtwo{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}
.container .two .view_2{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .three .Qthree{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}
.container .three .view_3{
	width:570px;
	font-size:20px;
	margin:0 auto;
}
.container .four .Qfour{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}
.container .four .view_4{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .five .Qfive{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}

.container .five .view_5{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .six .Qsix{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}
.container .six .view_6{
	width:570px;
	font-size:20px;
	margin:0 auto;
}

.container .seven .Qseven{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}

.container .seven .view_7{
	width:570px;
	font-size:20px;
	margin:0 auto;
}
.container .eight .Qeight{
	margin-top:3%;
	font-size:25px;
	text-align:center;
	margin-bottom:37px;
}

.container .eight .view_8{
	width:570px;
	font-size:20px;
	margin:0 auto;
}
.container .next{
	float: left;
    margin-top: 5%;
    margin-left: 38%;
    width: 300px;
    height: 50px;
    border: 0;
    outline: 0;
	border-radius:50px;
    font-size: 14px;
    background: #AF19F7;
    color: #ffffff;
}

