@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

html{
    background: url(bookbackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'NotoSerifKR';
}
div{
    text-align: center;
    border: 2px 2px red solid;
}
.contents{
    text-align: center;
    padding-top: 320px;
}
.source{
    padding-top: 50px;
}